body {
    display: flex;
    flex-direction: row; /* standard direction */
    justify-content: center; /* horizontal alignment -> flipped with column*/
    align-items: center;  /* vertical alignment -> flipped with column*/ 
    min-height: 100vh; /* 1vh = 1% of screen height */
}

.loading {
    max-width: 50%;
    line-height: 1.4;
    font-size: 1.2rem; /* root em -> font size of html, em for font size of parent */
    font-weight: bold;
    text-align: center;
}

.loading__author {
    font-weight: normal;
    font-size: 0.9rem;
    color: rgba(189, 189, 189, 1); /* a for opacity */
    margin: 0.6rem 0 2rem 0; /* top right bottom left */
    display: block;
}

.loading__anim {
    width: 35px;
    height: 35px;
    color: red;
    display: inline-block;
    border: 5px solid rgba(189, 189, 189, 0.25);
    border-right-color: rgba(3, 155, 229, 1);
    border-top-color: rgba(3, 155, 229, 1);
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}