body {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    width: 50vh;
}

.calculator__display {
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 5vh;
}

.calculator__keys {
    display: flex;
    flex-wrap: wrap;
}

button {
    height: 5vh;
    width: 5vh;
}

